In [1]:
import pandas as pd
import numpy as np

In [2]:
crop=pd.read_csv('crop_price.csv')

In [3]:
crop.head()

,APMC,Commodity,Year,Month,arrivals_in_qtl,min_price,max_price,modal_price,date,district_name,state_name
0,Ahmednagar,Bajri,2015,April,79,1406,1538,1463,2015-04,Ahmadnagar,Maharashtra
1,Ahmednagar,Bajri,2016,April,106,1788,1925,1875,2016-04,Ahmadnagar,Maharashtra
2,Ahmednagar,Wheat(Husked),2015,April,1253,1572,1890,1731,2015-04,Ahmadnagar,Maharashtra
3,Ahmednagar,Wheat(Husked),2016,April,387,1750,2220,1999,2016-04,Ahmadnagar,Maharashtra
4,Ahmednagar,Sorgum(Jawar),2015,April,3825,1600,2200,1900,2015-04,Ahmadnagar,Maharashtra

In [4]:
crop.shape

(62429, 11)

In [5]:
crop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62429 entries, 0 to 62428
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   APMC             62429 non-null  object
 1   Commodity        62429 non-null  object
 2   Year             62429 non-null  int64
 3   Month            62429 non-null  object
 4   arrivals_in_qtl  62429 non-null  int64
 5   min_price        62429 non-null  int64
 6   max_price        62429 non-null  int64
 7   modal_price      62429 non-null  int64
 8   date             62429 non-null  object
 9   district_name    62429 non-null  object
 10  state_name       62429 non-null  object
dtypes: int64(5), object(6)
memory usage: 5.2+ MB

In [6]:
crop['APMC'].unique()

array(['Ahmednagar', 'Akole', 'Jamkhed', 'Kopargaon', 'Newasa',
       'Newasa-Ghodegaon', 'Parner', 'Pathardi', 'Rahata', 'Rahuri',
       'Rahuri-Vambori', 'Sangamner', 'Shevgaon', 'Shevgaon-Bodhegaon',
       'Shrirampur', 'Shrirampur-Belapur', 'Shrigonda',
       'Shrigonda-Ghogargaon', 'Karjat (A- Nagar)', 'Rahuri-Songaon',
       'Akola', 'Akot', 'Balapur', 'Murtizapur', 'Patur', 'Telhara',
       'Barshi Takli', 'Achalpur', 'Amarawati',
       'Amarawati-Fruit And Vegetables', 'Anajngaon Surji',
       'Chandur Bajar', 'Chandur Rly.', 'Daryapur', 'Dhamangaon-Rly',
       'Dharni', 'Morshi', 'Nandgaon Khandeshwar', 'Varud',
       'Varud-Rajura Bazar', 'Tiwasa', 'Aurangabad', 'Fulambri',
       'Gangapur', 'Kannad', 'Lasur Station', 'Paithan', 'Sillod',
       'Sillod-Bharadi', 'Soygaon', 'Vaijapur', 'Khultabad', 'Ambejogai',
       'Beed', 'Gevrai', 'Kada', 'Kada (Ashti)', 'Kej', 'Kille Dharur',
       'Majalgaon', 'Parli-Vaijnath', 'Bhandara', 'Lakhandur', 'Lakhani',
       'Pavani', 'Tumsar', 'Buldhana', 'Buldhana-Dhad', 'Chikhali',
       'Deulgaon Raja', 'Jalgaon Jamod', 'Jalgaon Jamod-Aasalgaon',
       'Khamgaon', 'Lonar', 'Malkapur', 'Mehkar', 'Nandura', 'Sangrampur',
       'Sangrampur-Varvatbakal', 'Shegaon', 'Sindkhed Raja', 'Brahmpuri',
       'Chandrapur', 'Chandrapur-Ganjwad', 'Chimur', 'Gondpimpri',
       'Korpana', 'Mul', 'Nagbhid', 'Pombhurni', 'Rajura', 'Savali',
       'Sindevahi', 'Varora', 'Bhadrawati', 'Dhule', 'Dondaicha',
       'Dondaicha-Sindkheda', 'Sakri', 'Shirpur', 'Aheri', 'Armori',
       'Armori-Desaiganj', 'Chamorshi', 'Gadchiroli', 'Sironcha',
       'Aamgaon', 'Arjuni Morgaon', 'Gondiya', 'Sadak Arjuni', 'Tiroda',
       'Goregaon', 'Devri', 'Akhadabalapur', 'Basmat', 'Hingoli',
       'Jawala-Bajar', 'Kalamnuri', 'Sengaon', 'Basmat (Kurunda)',
       'Hingoli-Kanegaon Naka', 'Amalner', 'Bhusaval', 'Bodwad-Varangaon',
       'Chalisgaon', 'Chopda', 'Dharangaon', 'Jalgaon', 'Jalgaon-Masawat',
       'Jamner', 'Jamner-Neri', 'Parola', 'Raver', 'Yawal', 'Pachora',
       'Raver-Sawada', 'Ambad(Vadi Godri)', 'Bhokardan',
       'Bhokardan-Pimpalgaon Renu', 'Ghansawangi', 'Jafrabad', 'Jalna',
       'Jalna-Badnapur', 'Mantha', 'Partur', 'Ashti (Jalna)',
       'Gadhinglaj', 'Kolhapur', 'Kolhapur-Laxmipuri',
       'Kolhapur-Malkapur', 'Vadgaon Peth', 'Ahmedpur', 'Aurad Shahajani',
       'Ausa', 'Chakur', 'Devani', 'Jalkot', 'Latur', 'Latur-Murud',
       'Udgir', 'Nilanga', 'Mumbai', 'Mumbai-Fruit Market',
       'Mumbai-Onion And Potato Mkt', 'Bhiwapur', 'Hingna', 'Kalmeshwar',
       'Kamthi', 'Katol', 'Mandhal', 'Nagpur', 'Narkhed', 'Parshiwani',
       'Ramtek', 'Savner', 'Umared', 'Mauda', 'Bhokar', 'Hadgaon',
       'Hadgaon-Tamsa', 'Kinwat', 'Loha', 'Mahur', 'Nanded', 'Umari',
       'Deglur', 'Naigaon', 'Dharmabad', 'Hanegaon', 'Himayatnagar',
       'Kundalwadi', 'Mudkhed', 'Mukhed', 'Biloli', 'Kuntur', 'Akkalkuwa',
       'Nandurbar', 'Navapur', 'Shahada', 'Taloda', 'Dhadgaon',
       'Chandvad', 'Devala', 'Dindori', 'Dindori-Vani', 'Ghoti', 'Kalvan',
       'Lasalgaon', 'Lasalgaon-Niphad', 'Lasalgaon-Vinchur', 'Malegaon',
       'Manmad', 'Nampur', 'Nashik', 'Nashik-Devlali',
       'Pimpalgaon (B)-Saykheda', 'Pimpalgaon Basawant', 'Satana',
       'Sinner', 'Umrane', 'Yeola', 'Nandgaon', 'Kalamb (Os)', 'Murum',
       'Osmanabad', 'Paranda', 'Tuljapur', 'Umarga', 'Lohara',
       'Washi(Osmanabad)', 'Bhoom', 'Gangakhed', 'Jintur', 'Jintur-Bori',
       'Palam', 'Parbhani', 'Pathari', 'Purna', 'Sailu', 'Sonpeth',
       'Manwat', 'Bori', 'Tadkalas', 'Baramati', 'Dound', 'Indapur',
       'Indapur (Nimgaon Ketki)', 'Indapur-Bhigwan', 'Junnar',
       'Junnar (Alephata)', 'Junnar (Narayangaon)', 'Junnar-Otur',
       'Khed (Shel Pimpalgaon)', 'Khed-Chakan', 'Manchar', 'Nira',
       'Nira-Saswad', 'Pune', 'Pune-Manjri', 'Pune-Pimpri', 'Shirur',
       'Junnar (Bhlhe)', 'Khed', 'Pune-Moshi', 'Bhor', 'Talegaon Dabhade',
       'Alibag', 'Karjat (Raigad)', 'Mangaon(Bhadav)', 'Murud', 'Panvel',
       'Pen', 'Roha', 'Khalapur(Shil-Phata)', 'Mahad', 'Ratanagari',
       'Atpadi', 'Islampur', 'Sangali', 'Sangli-Miraj',
       'Sangli-Phale Bhajipalam', 'Tasgaon', 'Palus', 'Vita', 'Shirala',
       'Karad', 'Koregaon', 'Lonand', 'Patan', 'Phaltan', 'Satara',
       'Vaduj', 'Vai', 'Akkolkot', 'Akluj', 'Barshi', 'Barshi-Vairag',
       'Dudhani', 'Karmala', 'Kurdwadi', 'Kurdwadi-Modnimb',
       'Mangalwedha', 'Mohol', 'Pandharpur', 'Sangola', 'Solapur',
       'Bhivandi', 'Kalyan', 'Murbad', 'Palghar(Bevur)', 'Shahapur',
       'Ulhasnagar', 'Vasai', 'Kalyan (Cattle Market)', 'Arvi',
       'Ashti (Wardha)', 'Ashti-Karanja', 'Hinganghat', 'Pulgaon',
       'Samudrapur', 'Sindi', 'Sindi (Selu)', 'Wardha', 'Karanja',
       'Malegaon (Washim)', 'Mangrulpeer', 'Manora', 'Risod', 'Washim',
       'Washim-Ansing', 'Aarni', 'Babhulgaon', 'Digras', 'Ghatanji',
       'Kalamb (Yawatmal)', 'Mahagaon', 'Ner Parasopant', 'Pandharkawada',
       'Pusad', 'Ralegaon', 'Umarkhed', 'Umarkhed-Danki', 'Vani',
       'Yeotmal', 'Zarijamini', 'Maregaon', 'Bori Arab', 'Darwha',
       'Vadvani'], dtype=object)

In [7]:
crop['Commodity'].unique()

array(['Bajri', 'Wheat(Husked)', 'Sorgum(Jawar)', 'Maize', 'Gram',
       'Horse Gram', 'Matki', 'Pigeon Pea (Tur)', 'Black Gram',
       'Castor Seed', 'Soybean', 'Jaggery', 'Lemon', 'Ginger (Fresh)',
       'Potato', 'Ladies Finger', 'Flower', 'Carrot', 'Cluster Bean',
       'Ghevda', 'Ghosali(Bhaji)', 'Mango(Raw)', 'Cucumber', 'Onion',
       'Bitter Gourd', 'Cabbage', 'Garlic', 'Math (Bhaji)', 'Capsicum',
       'Tomato', 'Brinjal', 'Tamarind', 'Tamarind Seed',
       'Coriander (Dry)', 'Green Chilli', 'Chillies(Red)', 'Mustard',
       'Paddy-Unhusked', 'Hilda', 'Chikoo', 'Cotton',
       'Ground Nut Pods (Dry)', 'Pomegranate', 'Papai', 'Melon',
       'Beet Root', 'Bottle Gourd', 'Dhemse', 'Coriander ', 'Coriander  ',
       'Spinach', 'Shevga', 'Small Gourd', 'Grapes', 'Kharbuj',
       'Green Gram', 'Sunflower', 'Safflower', 'Mango', 'Water Melon',
       'Mosambi', 'Orange', 'Fenugreek', 'Cowpea', 'Green Peas (Dry)',
       'Squash Gourd', 'Maize (Corn.)', 'Chino', 'Curry Leaves',
       'Sweet Potato', 'Walvad', 'Rice(Paddy-Hus)', 'Custard Apple',
       'Green-Peas', 'Maize(Corn.)', 'Bhagar/Vari', 'Bor', 'Kardai',
       'Other Vegetables', 'Radish', 'Wal Papdi', 'Kanda Pat', 'Sesamum',
       'Shepu', 'Guava', 'Banana', 'Chavli (Shenga )', 'Apple',
       'Thymol/Lovage', 'Batbati', 'Other Cereals', 'Linseed',
       'Pineapple', 'Pumpkin', 'Methi (Bhaji)', 'Naspatti ', 'He Buffalo',
       'Lentil', 'Rajgira', 'Papnas', 'Awala', 'Harbara(Pendi)',
       'Buffalo', 'Jambhul', 'Amba Koy', 'Bullock Heart', 'Bullack',
       'Fig', 'Wal Bhaji', 'Sugarcane', 'Nagali', 'Ridge Gourd', 'Tag',
       'Ginger (Dry)', 'Zendu', 'Other Spices', 'Rala', 'Niger-Seed',
       'Indian Bean', 'Oth.Split Pulses', 'Other Pulses', 'Sarsav',
       'Neem-Seed', 'Male Lamb', 'Male Goat', 'Sheep', 'Other Oil Seeds',
       'Cow', 'Snake Gourd', 'Jack Fruit(Raw)', 'Chavli (Pala)',
       'Raddish', 'Mula Shenga', 'Pappaya (Bhaji)', 'Pigen-Pea (Bhaji)',
       'Goats', 'Turmeric', 'Amla', 'Split Gram', 'Split Lentil',
       'Spilt Gerrn Gram', 'Spilt Pigeon Pea', 'Split Black Gram',
       'Gr.Nut Kernels', 'Pavtta', 'Wood Apple', 'Strawberi',
       'Leafy Vegetable', 'Peer', 'Plum', 'Hemp-Seed', 'Wheat(Unhusked)',
       'Guvar', 'Punvad', 'Fennel', 'Coconut', 'Sugar', 'Arvi',
       'French Bean', 'Elephant Root', 'Cummin', 'Cashewnuts',
       'Betelnuts', 'Cardamom', 'Pitch', 'Litchi', 'Jack Fruit', 'Kand',
       'Parwar', 'Mint', 'Lang', 'Ambat Chuka', 'Karvand', 'Nolkol',
       'Hemp', 'Baru Seed', 'Shepa', 'Soup Berries', 'Shahale ',
       'Tandulja', 'Ghee', 'Farshi', 'Double Bee', 'Banana(Raw)',
       'Goosefoot', 'Ghevda Seed', 'Pavata', 'Harbara(Bhaji)', 'Gulchadi',
       'Shewanti', 'Jui', 'Kagda', 'Terda', 'Tuljapuri', 'Bijli',
       'Nachani', 'Bedana', 'Fodder', 'Skin & Bones', 'Aster', 'Chandani',
       'Kalvad', 'MOSAMBI', 'CABBAGE', 'RIDGE GOURD', 'GRAM',
       'GREEN CHILLI', 'LEMON', 'MAIZE', 'CORIANDER (DRY)', 'BLACK GRAM',
       'MELON', 'GREEN GRAM', 'POMEGRANATE', 'COWPEA', 'MATH (BHAJI)',
       'CAPSICUM', 'LADIES FINGER', 'GHOSALI(BHAJI)', 'CUCUMBER',
       'GARLIC', 'BOTTLE GOURD', 'SHEVGA', 'SPINACH', 'SOYBEAN',
       'GROUND NUT PODS (DRY)', 'BAJRI', 'WHEAT(HUSKED)', 'COTTON',
       'PIGEON PEA (TUR)', 'PADDY-UNHUSKED', 'SQUASH GOURD', 'BRINJAL',
       'SORGUM(JAWAR)', 'RICE(PADDY-HUS)', 'SUNFLOWER', 'CHILLIES(RED)',
       'POTATO', 'OTHER PULSES', 'LINSEED', 'MUSTARD', 'FLOWER',
       'METHI (BHAJI)', 'TOMATO', 'PIGEN-PEA (BHAJI)', 'WAL PAPDI',
       'BHAGAR/VARI', 'TURMERIC', 'WHEAT(UNHUSKED)', 'SAFFLOWER',
       'NIGER-SEED', 'SESAMUM', 'BATBATI', 'BOR', 'CHIKOO', 'GRAPES',
       'PAPAI', 'APPLE', 'ORANGE', 'CUSTARD APPLE', 'GINGER (FRESH)',
       'BEET ROOT', 'DHEMSE', 'CARROT', 'CLUSTER BEAN', 'ONION',
       'BITTER GOURD', 'PUMPKIN', 'CORIANDER ', 'GREEN-PEAS', 'BANANA',
       'OTHER CEREALS', 'SARSAV', 'JAGGERY', 'PINEAPPLE', 'WATER MELON',
       'AWALA', 'CHAVLI (SHENGA )', 'CHAVLI (PALA)', 'RADDISH',
       'SMALL GOURD', 'WAL BHAJI', 'GREEN PEAS (DRY)', 'JACK FRUIT',
       'PARWAR', 'GUAVA', 'AMBAT CHUKA', 'LEAFY VEGETABLE', 'KANDA PAT',
       'MINT', 'ELEPHANT ROOT', 'WALVAD', 'FARSHI', 'BUFFALO',
       'MALE GOAT', 'HORSE GRAM', 'LENTIL', 'MATKI', 'PAVTTA', 'PAVATA',
       'GHEVDA SEED', 'GHEVDA', 'SNAKE GOURD', 'SWEET POTATO',
       'GOOSEFOOT', 'MULA SHENGA', 'SHEPU', 'KHARBUJ', 'FODDER', 'GOATS',
       'FIG', 'MANGO(RAW)', 'MAIZE(CORN.)', 'CASTOR SEED', 'GUVAR',
       'PUNVAD', 'KARDAI', 'SHEEP', 'MALE LAMB', 'AMLA', 'SHAHALE',
       'TANDULJA', 'SPLIT GRAM', 'SPLIT LENTIL', 'SPILT GERRN GRAM',
       'SPILT PIGEON PEA', 'SPLIT BLACK GRAM', 'GR.NUT KERNELS',
       'INDIAN BEAN', 'ARVI', 'DOUBLE BEE', 'NOLKOL', 'HEMP',
       'HARBARA(BHAJI)', 'HARBARA(PENDI)', 'OTHER VEGETABLES',
       'CURRY LEAVES', 'RAJGIRA', 'GROUNDNUT PODS (WET)', 'NACHANI',
       'NAGALI', 'FRENCH BEAN', 'FENNEL', 'COCONUT', 'SUGAR',
       'GINGER (DRY)', 'TAMARIND', 'CUMMIN', 'CASHEWNUTS', 'BETELNUTS',
       'CARDAMOM', 'MANGO'], dtype=object)

In [8]:
crop['Year'].unique() ### year should be in integer not in objects

array([2015, 2016, 2014], dtype=int64)

In [9]:
crop['arrivals_in_qtl'].unique()

array([    79,    106,   1253, ...,  60582, 101385,  15490], dtype=int64)

In [10]:
crop['Month'].unique()

array(['April', 'August', 'December', 'February', 'January', 'July',
       'June', 'March', 'May', 'November', 'October', 'September'],
      dtype=object)

In [11]:
crop['modal_price'].unique()

array([  1463,   1875,   1731, ...,  24131, 142344,   6761], dtype=int64)

In [12]:
crop['district_name'].unique()

array(['Ahmadnagar', 'Akola', 'Amaravathi', 'Aurangabad', 'Beed',
       'Bhandara', 'Buldhana', 'Chandrapur', 'Dhule', 'Gadchiroli',
       'Gondiya', 'Hingoli', 'Jalgaon', 'Jalna', 'Kolhapur', 'Latur',
       'Mumbai', 'Nagpur', 'Nanded', 'Nandurbar', 'Nasik', 'Osmanabad',
       'Parbhani', 'Pune', 'Raigad', 'Ratnagiri', 'Sangli', 'Satara',
       'Solapur', 'Thane', 'Wardha', 'Wasim', 'Yewatmal'], dtype=object)

In [13]:
crop['date'].unique()

array(['2015-04', '2016-04', '2015-08', '2016-08', '2015-12', '2014-12',
       '2015-02', '2016-02', '2015-01', '2016-01', '2015-07', '2016-07',
       '2015-06', '2016-06', '2015-03', '2016-03', '2016-05', '2015-05',
       '2014-11', '2015-11', '2015-10', '2016-10', '2014-10', '2014-09',
       '2015-09', '2016-09', '2016-11'], dtype=object)

In [14]:
backup=crop.copy()

In [15]:
crop=crop.drop(columns="state_name")

In [16]:
crop.head()

,APMC,Commodity,Year,Month,arrivals_in_qtl,min_price,max_price,modal_price,date,district_name
0,Ahmednagar,Bajri,2015,April,79,1406,1538,1463,2015-04,Ahmadnagar
1,Ahmednagar,Bajri,2016,April,106,1788,1925,1875,2016-04,Ahmadnagar
2,Ahmednagar,Wheat(Husked),2015,April,1253,1572,1890,1731,2015-04,Ahmadnagar
3,Ahmednagar,Wheat(Husked),2016,April,387,1750,2220,1999,2016-04,Ahmadnagar
4,Ahmednagar,Sorgum(Jawar),2015,April,3825,1600,2200,1900,2015-04,Ahmadnagar

In [17]:
crop=crop.drop(columns="date")

In [18]:
crop.head()

,APMC,Commodity,Year,Month,arrivals_in_qtl,min_price,max_price,modal_price,district_name
0,Ahmednagar,Bajri,2015,April,79,1406,1538,1463,Ahmadnagar
1,Ahmednagar,Bajri,2016,April,106,1788,1925,1875,Ahmadnagar
2,Ahmednagar,Wheat(Husked),2015,April,1253,1572,1890,1731,Ahmadnagar
3,Ahmednagar,Wheat(Husked),2016,April,387,1750,2220,1999,Ahmadnagar
4,Ahmednagar,Sorgum(Jawar),2015,April,3825,1600,2200,1900,Ahmadnagar

In [19]:
crop=crop.drop(columns="min_price")

In [20]:
crop=crop.drop(columns="max_price")

In [21]:
crop.head()

,APMC,Commodity,Year,Month,arrivals_in_qtl,modal_price,district_name
0,Ahmednagar,Bajri,2015,April,79,1463,Ahmadnagar
1,Ahmednagar,Bajri,2016,April,106,1875,Ahmadnagar
2,Ahmednagar,Wheat(Husked),2015,April,1253,1731,Ahmadnagar
3,Ahmednagar,Wheat(Husked),2016,April,387,1999,Ahmadnagar
4,Ahmednagar,Sorgum(Jawar),2015,April,3825,1900,Ahmadnagar

In [22]:
crop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62429 entries, 0 to 62428
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   APMC             62429 non-null  object
 1   Commodity        62429 non-null  object
 2   Year             62429 non-null  int64
 3   Month            62429 non-null  object
 4   arrivals_in_qtl  62429 non-null  int64
 5   modal_price      62429 non-null  int64
 6   district_name    62429 non-null  object
dtypes: int64(3), object(4)
memory usage: 3.3+ MB

In [23]:
crop

,APMC,Commodity,Year,Month,arrivals_in_qtl,modal_price,district_name
0,Ahmednagar,Bajri,2015,April,79,1463,Ahmadnagar
1,Ahmednagar,Bajri,2016,April,106,1875,Ahmadnagar
2,Ahmednagar,Wheat(Husked),2015,April,1253,1731,Ahmadnagar
3,Ahmednagar,Wheat(Husked),2016,April,387,1999,Ahmadnagar
4,Ahmednagar,Sorgum(Jawar),2015,April,3825,1900,Ahmadnagar
...,...,...,...,...,...,...,...
62424,Shrigonda,GRAM,2016,November,586,6200,Ahmadnagar
62425,Shrigonda,GREEN GRAM,2016,November,2,5000,Ahmadnagar
62426,Shrigonda,BLACK GRAM,2016,November,46,6400,Ahmadnagar
62427,Shrigonda,SOYBEAN,2016,November,166,2633,Ahmadnagar
62428,Shrigonda,SUNFLOWER,2016,November,74,3067,Ahmadnagar

In [24]:
#MODEL

In [25]:
crop.describe()

               Year  arrivals_in_qtl    modal_price
count  62429.000000     6.242900e+04   62429.000000
mean    2015.337503     6.043088e+03    3296.003989
std        0.690451     3.470331e+04    3607.792534
min     2014.000000     1.000000e+00       0.000000
25%     2015.000000     3.800000e+01    1450.000000
50%     2015.000000     2.110000e+02    2425.000000
75%     2016.000000     1.364000e+03    4257.000000
max     2016.000000     1.450254e+06  142344.000000

In [26]:
crop.to_csv('Cleaned crop.csv')
crop.head()

,APMC,Commodity,Year,Month,arrivals_in_qtl,modal_price,district_name
0,Ahmednagar,Bajri,2015,April,79,1463,Ahmadnagar
1,Ahmednagar,Bajri,2016,April,106,1875,Ahmadnagar
2,Ahmednagar,Wheat(Husked),2015,April,1253,1731,Ahmadnagar
3,Ahmednagar,Wheat(Husked),2016,April,387,1999,Ahmadnagar
4,Ahmednagar,Sorgum(Jawar),2015,April,3825,1900,Ahmadnagar

In [27]:
x=crop.drop(columns='modal_price')
y=crop['modal_price']

In [28]:
x

,APMC,Commodity,Year,Month,arrivals_in_qtl,district_name
0,Ahmednagar,Bajri,2015,April,79,Ahmadnagar
1,Ahmednagar,Bajri,2016,April,106,Ahmadnagar
2,Ahmednagar,Wheat(Husked),2015,April,1253,Ahmadnagar
3,Ahmednagar,Wheat(Husked),2016,April,387,Ahmadnagar
4,Ahmednagar,Sorgum(Jawar),2015,April,3825,Ahmadnagar
...,...,...,...,...,...,...
62424,Shrigonda,GRAM,2016,November,586,Ahmadnagar
62425,Shrigonda,GREEN GRAM,2016,November,2,Ahmadnagar
62426,Shrigonda,BLACK GRAM,2016,November,46,Ahmadnagar
62427,Shrigonda,SOYBEAN,2016,November,166,Ahmadnagar
62428,Shrigonda,SUNFLOWER,2016,November,74,Ahmadnagar

In [29]:
y

0        1463
1        1875
2        1731
3        1999
4        1900
         ...
62424    6200
62425    5000
62426    6400
62427    2633
62428    3067
Name: modal_price, Length: 62429, dtype: int64

In [30]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [31]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline

In [32]:
ohe=OneHotEncoder()
ohe.fit(x[['APMC','Commodity','Month','district_name']])

OneHotEncoder()

In [33]:
# pass all these categories to one hot encoding
ohe.categories_

[array(['Aamgaon', 'Aarni', 'Achalpur', 'Aheri', 'Ahmednagar', 'Ahmedpur',
        'Akhadabalapur', 'Akkalkuwa', 'Akkolkot', 'Akluj', 'Akola',
        'Akole', 'Akot', 'Alibag', 'Amalner', 'Amarawati',
        'Amarawati-Fruit And Vegetables', 'Ambad(Vadi Godri)', 'Ambejogai',
        'Anajngaon Surji', 'Arjuni Morgaon', 'Armori', 'Armori-Desaiganj',
        'Arvi', 'Ashti (Jalna)', 'Ashti (Wardha)', 'Ashti-Karanja',
        'Atpadi', 'Aurad Shahajani', 'Aurangabad', 'Ausa', 'Babhulgaon',
        'Balapur', 'Baramati', 'Barshi', 'Barshi Takli', 'Barshi-Vairag',
        'Basmat', 'Basmat (Kurunda)', 'Beed', 'Bhadrawati', 'Bhandara',
        'Bhivandi', 'Bhiwapur', 'Bhokar', 'Bhokardan',
        'Bhokardan-Pimpalgaon Renu', 'Bhoom', 'Bhor', 'Bhusaval', 'Biloli',
        'Bodwad-Varangaon', 'Bori', 'Bori Arab', 'Brahmpuri', 'Buldhana',
        'Buldhana-Dhad', 'Chakur', 'Chalisgaon', 'Chamorshi', 'Chandrapur',
        'Chandrapur-Ganjwad', 'Chandur Bajar', 'Chandur Rly.', 'Chandvad',
        'Chikhali', 'Chimur', 'Chopda', 'Darwha', 'Daryapur', 'Deglur',
        'Deulgaon Raja', 'Devala', 'Devani', 'Devri', 'Dhadgaon',
        'Dhamangaon-Rly', 'Dharangaon', 'Dharmabad', 'Dharni', 'Dhule',
        'Digras', 'Dindori', 'Dindori-Vani', 'Dondaicha',
        'Dondaicha-Sindkheda', 'Dound', 'Dudhani', 'Fulambri',
        'Gadchiroli', 'Gadhinglaj', 'Gangakhed', 'Gangapur', 'Gevrai',
        'Ghansawangi', 'Ghatanji', 'Ghoti', 'Gondiya', 'Gondpimpri',
        'Goregaon', 'Hadgaon', 'Hadgaon-Tamsa', 'Hanegaon', 'Himayatnagar',
        'Hinganghat', 'Hingna', 'Hingoli', 'Hingoli-Kanegaon Naka',
        'Indapur', 'Indapur (Nimgaon Ketki)', 'Indapur-Bhigwan',
        'Islampur', 'Jafrabad', 'Jalgaon', 'Jalgaon Jamod',
        'Jalgaon Jamod-Aasalgaon', 'Jalgaon-Masawat', 'Jalkot', 'Jalna',
        'Jalna-Badnapur', 'Jamkhed', 'Jamner', 'Jamner-Neri',
        'Jawala-Bajar', 'Jintur', 'Jintur-Bori', 'Junnar',
        'Junnar (Alephata)', 'Junnar (Bhlhe)', 'Junnar (Narayangaon)',
        'Junnar-Otur', 'Kada', 'Kada (Ashti)', 'Kalamb (Os)',
        'Kalamb (Yawatmal)', 'Kalamnuri', 'Kalmeshwar', 'Kalvan', 'Kalyan',
        'Kalyan (Cattle Market)', 'Kamthi', 'Kannad', 'Karad', 'Karanja',
        'Karjat (A- Nagar)', 'Karjat (Raigad)', 'Karmala', 'Katol', 'Kej',
        'Khalapur(Shil-Phata)', 'Khamgaon', 'Khed',
        'Khed (Shel Pimpalgaon)', 'Khed-Chakan', 'Khultabad',
        'Kille Dharur', 'Kinwat', 'Kolhapur', 'Kolhapur-Laxmipuri',
        'Kolhapur-Malkapur', 'Kopargaon', 'Koregaon', 'Korpana',
        'Kundalwadi', 'Kuntur', 'Kurdwadi', 'Kurdwadi-Modnimb',
        'Lakhandur', 'Lakhani', 'Lasalgaon', 'Lasalgaon-Niphad',
        'Lasalgaon-Vinchur', 'Lasur Station', 'Latur', 'Latur-Murud',
        'Loha', 'Lohara', 'Lonand', 'Lonar', 'Mahad', 'Mahagaon', 'Mahur',
        'Majalgaon', 'Malegaon', 'Malegaon (Washim)', 'Malkapur',
        'Manchar', 'Mandhal', 'Mangalwedha', 'Mangaon(Bhadav)',
        'Mangrulpeer', 'Manmad', 'Manora', 'Mantha', 'Manwat', 'Maregaon',
        'Mauda', 'Mehkar', 'Mohol', 'Morshi', 'Mudkhed', 'Mukhed', 'Mul',
        'Mumbai', 'Mumbai-Fruit Market', 'Mumbai-Onion And Potato Mkt',
        'Murbad', 'Murtizapur', 'Murud', 'Murum', 'Nagbhid', 'Nagpur',
        'Naigaon', 'Nampur', 'Nanded', 'Nandgaon', 'Nandgaon Khandeshwar',
        'Nandura', 'Nandurbar', 'Narkhed', 'Nashik', 'Nashik-Devlali',
        'Navapur', 'Ner Parasopant', 'Newasa', 'Newasa-Ghodegaon',
        'Nilanga', 'Nira', 'Nira-Saswad', 'Osmanabad', 'Pachora',
        'Paithan', 'Palam', 'Palghar(Bevur)', 'Palus', 'Pandharkawada',
        'Pandharpur', 'Panvel', 'Paranda', 'Parbhani', 'Parli-Vaijnath',
        'Parner', 'Parola', 'Parshiwani', 'Partur', 'Patan', 'Pathardi',
        'Pathari', 'Patur', 'Pavani', 'Pen', 'Phaltan',
        'Pimpalgaon (B)-Saykheda', 'Pimpalgaon Basawant', 'Pombhurni',
        'Pulgaon', 'Pune', 'Pune-Manjri', 'Pune-Moshi', 'Pune-Pimpri',
        'Purna', 'Pusad', 'Rahata', 'Rahuri', 'Rahuri-Songaon',
        'Rahuri-Vambori', 'Rajura', 'Ralegaon', 'Ramtek', 'Ratanagari',
        'Raver', 'Raver-Sawada', 'Risod', 'Roha', 'Sadak Arjuni', 'Sailu',
        'Sakri', 'Samudrapur', 'Sangali', 'Sangamner', 'Sangli-Miraj',
        'Sangli-Phale Bhajipalam', 'Sangola', 'Sangrampur',
        'Sangrampur-Varvatbakal', 'Satana', 'Satara', 'Savali', 'Savner',
        'Sengaon', 'Shahada', 'Shahapur', 'Shegaon', 'Shevgaon',
        'Shevgaon-Bodhegaon', 'Shirala', 'Shirpur', 'Shirur', 'Shrigonda',
        'Shrigonda-Ghogargaon', 'Shrirampur', 'Shrirampur-Belapur',
        'Sillod', 'Sillod-Bharadi', 'Sindevahi', 'Sindi', 'Sindi (Selu)',
        'Sindkhed Raja', 'Sinner', 'Sironcha', 'Solapur', 'Sonpeth',
        'Soygaon', 'Tadkalas', 'Talegaon Dabhade', 'Taloda', 'Tasgaon',
        'Telhara', 'Tiroda', 'Tiwasa', 'Tuljapur', 'Tumsar', 'Udgir',
        'Ulhasnagar', 'Umared', 'Umarga', 'Umari', 'Umarkhed',
        'Umarkhed-Danki', 'Umrane', 'Vadgaon Peth', 'Vaduj', 'Vadvani',
        'Vai', 'Vaijapur', 'Vani', 'Varora', 'Varud', 'Varud-Rajura Bazar',
        'Vasai', 'Vita', 'Wardha', 'Washi(Osmanabad)', 'Washim',
        'Washim-Ansing', 'Yawal', 'Yeola', 'Yeotmal', 'Zarijamini'],
       dtype=object),
 array(['AMBAT CHUKA', 'AMLA', 'APPLE', 'ARVI', 'AWALA', 'Amba Koy',
        'Ambat Chuka', 'Amla', 'Apple', 'Arvi', 'Aster', 'Awala', 'BAJRI',
        'BANANA', 'BATBATI', 'BEET ROOT', 'BETELNUTS', 'BHAGAR/VARI',
        'BITTER GOURD', 'BLACK GRAM', 'BOR', 'BOTTLE GOURD', 'BRINJAL',
        'BUFFALO', 'Bajri', 'Banana', 'Banana(Raw)', 'Baru Seed',
        'Batbati', 'Bedana', 'Beet Root', 'Betelnuts', 'Bhagar/Vari',
        'Bijli', 'Bitter Gourd', 'Black Gram', 'Bor', 'Bottle Gourd',
        'Brinjal', 'Buffalo', 'Bullack', 'Bullock Heart', 'CABBAGE',
        'CAPSICUM', 'CARDAMOM', 'CARROT', 'CASHEWNUTS', 'CASTOR SEED',
        'CHAVLI (PALA)', 'CHAVLI (SHENGA )', 'CHIKOO', 'CHILLIES(RED)',
        'CLUSTER BEAN', 'COCONUT', 'CORIANDER ', 'CORIANDER (DRY)',
        'COTTON', 'COWPEA', 'CUCUMBER', 'CUMMIN', 'CURRY LEAVES',
        'CUSTARD APPLE', 'Cabbage', 'Capsicum', 'Cardamom', 'Carrot',
        'Cashewnuts', 'Castor Seed', 'Chandani', 'Chavli (Pala)',
        'Chavli (Shenga )', 'Chikoo', 'Chillies(Red)', 'Chino',
        'Cluster Bean', 'Coconut', 'Coriander ', 'Coriander  ',
        'Coriander (Dry)', 'Cotton', 'Cow', 'Cowpea', 'Cucumber', 'Cummin',
        'Curry Leaves', 'Custard Apple', 'DHEMSE', 'DOUBLE BEE', 'Dhemse',
        'Double Bee', 'ELEPHANT ROOT', 'Elephant Root', 'FARSHI', 'FENNEL',
        'FIG', 'FLOWER', 'FODDER', 'FRENCH BEAN', 'Farshi', 'Fennel',
        'Fenugreek', 'Fig', 'Flower', 'Fodder', 'French Bean', 'GARLIC',
        'GHEVDA', 'GHEVDA SEED', 'GHOSALI(BHAJI)', 'GINGER (DRY)',
        'GINGER (FRESH)', 'GOATS', 'GOOSEFOOT', 'GR.NUT KERNELS', 'GRAM',
        'GRAPES', 'GREEN CHILLI', 'GREEN GRAM', 'GREEN PEAS (DRY)',
        'GREEN-PEAS', 'GROUND NUT PODS (DRY)', 'GROUNDNUT PODS (WET)',
        'GUAVA', 'GUVAR', 'Garlic', 'Ghee', 'Ghevda', 'Ghevda Seed',
        'Ghosali(Bhaji)', 'Ginger (Dry)', 'Ginger (Fresh)', 'Goats',
        'Goosefoot', 'Gr.Nut Kernels', 'Gram', 'Grapes', 'Green Chilli',
        'Green Gram', 'Green Peas (Dry)', 'Green-Peas',
        'Ground Nut Pods (Dry)', 'Guava', 'Gulchadi', 'Guvar',
        'HARBARA(BHAJI)', 'HARBARA(PENDI)', 'HEMP', 'HORSE GRAM',
        'Harbara(Bhaji)', 'Harbara(Pendi)', 'He Buffalo', 'Hemp',
        'Hemp-Seed', 'Hilda', 'Horse Gram', 'INDIAN BEAN', 'Indian Bean',
        'JACK FRUIT', 'JAGGERY', 'Jack Fruit', 'Jack Fruit(Raw)',
        'Jaggery', 'Jambhul', 'Jui', 'KANDA PAT', 'KARDAI', 'KHARBUJ',
        'Kagda', 'Kalvad', 'Kand', 'Kanda Pat', 'Kardai', 'Karvand',
        'Kharbuj', 'LADIES FINGER', 'LEAFY VEGETABLE', 'LEMON', 'LENTIL',
        'LINSEED', 'Ladies Finger', 'Lang', 'Leafy Vegetable', 'Lemon',
        'Lentil', 'Linseed', 'Litchi', 'MAIZE', 'MAIZE(CORN.)',
        'MALE GOAT', 'MALE LAMB', 'MANGO', 'MANGO(RAW)', 'MATH (BHAJI)',
        'MATKI', 'MELON', 'METHI (BHAJI)', 'MINT', 'MOSAMBI',
        'MULA SHENGA', 'MUSTARD', 'Maize', 'Maize (Corn.)', 'Maize(Corn.)',
        'Male Goat', 'Male Lamb', 'Mango', 'Mango(Raw)', 'Math (Bhaji)',
        'Matki', 'Melon', 'Methi (Bhaji)', 'Mint', 'Mosambi',
        'Mula Shenga', 'Mustard', 'NACHANI', 'NAGALI', 'NIGER-SEED',
        'NOLKOL', 'Nachani', 'Nagali', 'Naspatti ', 'Neem-Seed',
        'Niger-Seed', 'Nolkol', 'ONION', 'ORANGE', 'OTHER CEREALS',
        'OTHER PULSES', 'OTHER VEGETABLES', 'Onion', 'Orange',
        'Oth.Split Pulses', 'Other Cereals', 'Other Oil Seeds',
        'Other Pulses', 'Other Spices', 'Other Vegetables',
        'PADDY-UNHUSKED', 'PAPAI', 'PARWAR', 'PAVATA', 'PAVTTA',
        'PIGEN-PEA (BHAJI)', 'PIGEON PEA (TUR)', 'PINEAPPLE',
        'POMEGRANATE', 'POTATO', 'PUMPKIN', 'PUNVAD', 'Paddy-Unhusked',
        'Papai', 'Papnas', 'Pappaya (Bhaji)', 'Parwar', 'Pavata', 'Pavtta',
        'Peer', 'Pigen-Pea (Bhaji)', 'Pigeon Pea (Tur)', 'Pineapple',
        'Pitch', 'Plum', 'Pomegranate', 'Potato', 'Pumpkin', 'Punvad',
        'RADDISH', 'RAJGIRA', 'RICE(PADDY-HUS)', 'RIDGE GOURD', 'Raddish',
        'Radish', 'Rajgira', 'Rala', 'Rice(Paddy-Hus)', 'Ridge Gourd',
        'SAFFLOWER', 'SARSAV', 'SESAMUM', 'SHAHALE', 'SHEEP', 'SHEPU',
        'SHEVGA', 'SMALL GOURD', 'SNAKE GOURD', 'SORGUM(JAWAR)', 'SOYBEAN',
        'SPILT GERRN GRAM', 'SPILT PIGEON PEA', 'SPINACH',
        'SPLIT BLACK GRAM', 'SPLIT GRAM', 'SPLIT LENTIL', 'SQUASH GOURD',
        'SUGAR', 'SUNFLOWER', 'SWEET POTATO', 'Safflower', 'Sarsav',
        'Sesamum', 'Shahale ', 'Sheep', 'Shepa', 'Shepu', 'Shevga',
        'Shewanti', 'Skin & Bones', 'Small Gourd', 'Snake Gourd',
        'Sorgum(Jawar)', 'Soup Berries', 'Soybean', 'Spilt Gerrn Gram',
        'Spilt Pigeon Pea', 'Spinach', 'Split Black Gram', 'Split Gram',
        'Split Lentil', 'Squash Gourd', 'Strawberi', 'Sugar', 'Sugarcane',
        'Sunflower', 'Sweet Potato', 'TAMARIND', 'TANDULJA', 'TOMATO',
        'TURMERIC', 'Tag', 'Tamarind', 'Tamarind Seed', 'Tandulja',
        'Terda', 'Thymol/Lovage', 'Tomato', 'Tuljapuri', 'Turmeric',
        'WAL BHAJI', 'WAL PAPDI', 'WALVAD', 'WATER MELON', 'WHEAT(HUSKED)',
        'WHEAT(UNHUSKED)', 'Wal Bhaji', 'Wal Papdi', 'Walvad',
        'Water Melon', 'Wheat(Husked)', 'Wheat(Unhusked)', 'Wood Apple',
        'Zendu'], dtype=object),
 array(['April', 'August', 'December', 'February', 'January', 'July',
        'June', 'March', 'May', 'November', 'October', 'September'],
       dtype=object),
 array(['Ahmadnagar', 'Akola', 'Amaravathi', 'Aurangabad', 'Beed',
        'Bhandara', 'Buldhana', 'Chandrapur', 'Dhule', 'Gadchiroli',
        'Gondiya', 'Hingoli', 'Jalgaon', 'Jalna', 'Kolhapur', 'Latur',
        'Mumbai', 'Nagpur', 'Nanded', 'Nandurbar', 'Nasik', 'Osmanabad',
        'Parbhani', 'Pune', 'Raigad', 'Ratnagiri', 'Sangli', 'Satara',
        'Solapur', 'Thane', 'Wardha', 'Wasim', 'Yewatmal'], dtype=object)]

In [34]:
## column transform tells that just perform oneHotEncoding to categories and pass the rest column
column_trans=make_column_transformer((OneHotEncoder(categories=ohe.categories_),['APMC','Commodity','Month','district_name']),remainder='passthrough')

In [35]:
lr=LinearRegression()

In [36]:
pipe=make_pipeline(column_trans,lr)## make pipeline of columnn_transform and linear regression

In [37]:
pipe.fit(x_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['Aamgaon', 'Aarni', 'Achalpur', 'Aheri', 'Ahmednagar', 'Ahmedpur',
       'Akhadabalapur', 'Akkalkuwa', 'Akkolkot', 'Akluj', 'Akola',
       'Akole', 'Akot', 'Alibag', 'Amalner', 'Amarawati',
       'Amarawati-Fruit And Vegetables', 'Ambad(Vadi God...
       'Bhandara', 'Buldhana', 'Chandrapur', 'Dhule', 'Gadchiroli',
       'Gondiya', 'Hingoli', 'Jalgaon', 'Jalna', 'Kolhapur', 'Latur',
       'Mumbai', 'Nagpur', 'Nanded', 'Nandurbar', 'Nasik', 'Osmanabad',
       'Parbhani', 'Pune', 'Raigad', 'Ratnagiri', 'Sangli', 'Satara',
       'Solapur', 'Thane', 'Wardha', 'Wasim', 'Yewatmal'], dtype=object)]),
                                                  ['APMC', 'Commodity', 'Month',
                                                   'district_name'])])),
                ('linearregression', LinearRegression())])

In [38]:
y_pred=pipe.predict(x_test)
y_pred

array([3538.51860451, 1319.80838108, 1790.93866129, ..., 1975.93927737,
       7062.15926899, 1052.47663613])

In [39]:
r2_score(y_test,y_pred)

0.7916436448138863

In [40]:
## to find the best score we are spliting 10 times 
scores=[]
for i in range(10):
    x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=i)
    lr=LinearRegression()
    pipe=make_pipeline(column_trans,lr)
    pipe.fit(x_train,y_train)
    y_pred=pipe.predict(x_test)
    scores.append(r2_score(y_test,y_pred))

In [41]:
np.argmax(scores)

9

In [42]:
scores[np.argmax(scores)]

0.8611617743475541

In [43]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=np.argmax(scores))
lr=LinearRegression()
pipe=make_pipeline(column_trans,lr)
pipe.fit(x_train,y_train)
y_pred=pipe.predict(x_test)
scores.append(r2_score(y_test,y_pred))
r2_score(y_test,y_pred)

0.8611617743475541

In [44]:
 import pickle

In [45]:
pickle.dump(pipe,open('LinearRegressionModel.pkl','wb'))

In [46]:
pipe.predict(pd.DataFrame([['Ahmednagar','Sorgum(Jawar)','2022','November',821,'Ahmadnagar']],columns=['APMC','Commodity','Year','Month','arrivals_in_qtl','district_name']))

array([4794.07458116])

In [54]:

# Loading model to compare the results
model = pickle.load(open('LinearRegressionModel.pkl','rb'))
pred=model.predict(pd.DataFrame([['Ahmednagar', 'Bajri', 2024, 'April',100,'Ahmadnagar']],columns=['APMC','Commodity','Year','Month','arrivals_in_qtl','district_name']))
print(pred)

[5074.97308158]